:root {
    --link-color: #ff6600;
    --light-link-color: #fffffa;
    --background-color: #ccdbdc;
    --lighter-background-color: #5a615f;
    --lighter-text-color: #9fa292;
    --dark-text: #000000;
    --blue: #007bff;
    --yellow: #ffc107;
    --green: #1e7e34;
    --font-size: 16px;
}
body{
    background-color: var(--background-color);
}
.agreement{
    background-color: white;
}